.card-img-top {
    height: 200px;
    /* Or any other height you prefer */
    object-fit: cover;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar-toggler-icon {
    filter: invert(100%);
}

footer {
    margin-top: auto;
}